<!DOCTYPE html>
<html>
<head>
<title>Elephant Movement Viewer</title>

<style>
body{
font-family:Arial;
text-align:center;
background:#f4f4f4;
}

.container{
width:400px;
margin:auto;
margin-top:120px;
}

button{
width:100%;
padding:15px;
margin:10px;
font-size:18px;
border:none;
border-radius:6px;
cursor:pointer;
}

.map{
background:#3b82f6;
color:white;
}

.kml{
background:#22c55e;
color:white;
}
</style>

</head>

<body>

<div class="container">

<h1>Elephant Movement Viewer</h1>

<button class="map" onclick="window.location.href='/map'">
View Movement Map
</button>

<button class="kml" onclick="window.location.href='/export_kml'">
Download KML
</button>

</div>

</body>
</html>

